.post {
    @include responsive-container();
    & {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    & .imgs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        padding: 1rem;
        & img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 1rem;
            @include transparentShadow();
        }
    }
    & p {
        white-space: pre-line;
    }
}
